In [15]:
import ROOT as r
import uproot
import pandas as pd

In [6]:
f0 = uproot.open("~/dump/MilliQan_Run1116.1_matched.root")
f1 = uproot.open("~/dump/MilliQan_Run1116.1_default_v32.root")
#f0 = r.TFile.Open("~/dump/MilliQan_Run1116.1_matched.root")
#f1 = r.TFile.Open("~/dump/MilliQan_Run1116.1_default_v32.root")

In [9]:
t0 = f0["t"]
t1 = f1["t"]
t0

In [30]:
pd0 = t0.arrays(['event', 'tTrigger', 'tEvtNum', 'npulses'], library='pd')
pd0 = pd0.rename(columns={'event':'event0', 'tTrigger':'tTrigger0', 'tEvtNum':'tEvtNum0', 'npulses':'npulses0'})

pd1 = t1.arrays(['event', 'tTrigger', 'tEvtNum', 'npulses'], library='pd')
pd1 = pd1.rename(columns={'event':'event1', 'tTrigger':'tTrigger1', 'tEvtNum':'tEvtNum1', 'npulses':'npulses1'})

In [31]:
df = pd.concat([pd0,pd1], axis=1)
df

                event0  tTrigger0  tEvtNum0  npulses0  event1  tTrigger1  \
entry subentry
0     0            0.0       64.0       0.0       1.0     0.0       64.0
      1            0.0       64.0       0.0       1.0     0.0       64.0
      2            0.0       64.0       0.0       1.0     0.0       64.0
      3            0.0       64.0       0.0       2.0     0.0       64.0
      4            0.0       64.0       0.0       2.0     0.0       64.0
...                ...        ...       ...       ...     ...        ...
999   14         999.0        2.0     999.0       4.0   999.0        2.0
      15         999.0        2.0     999.0       4.0   999.0        2.0
      16         999.0        2.0     999.0       2.0   999.0        2.0
      17         999.0        2.0     999.0       2.0   999.0        2.0
      18         999.0        2.0     999.0       1.0   999.0        2.0

                tEvtNum1  npulses1
entry subentry
0     0              0.0       1.0
      1              0.0       1.0
      2              0.0       1.0
      3              0.0       2.0
      4              0.0       2.0
...                  ...       ...
999   14           999.0       4.0
      15           999.0       4.0
      16           999.0       2.0
      17           999.0       2.0
      18           999.0       1.0

[10176 rows x 8 columns]

In [32]:
unequal = df.loc[df['npulses0'] != df['npulses1']]

In [33]:
unequal

                event0  tTrigger0  tEvtNum0  npulses0  event1  tTrigger1  \
entry subentry
5     0            5.0        2.0       5.0       9.0     5.0        2.0
      1            5.0        2.0       5.0       9.0     5.0        2.0
      2            5.0        2.0       5.0       9.0     5.0        2.0
      3            5.0        2.0       5.0       9.0     5.0        2.0
      4            5.0        2.0       5.0       9.0     5.0        2.0
...                ...        ...       ...       ...     ...        ...
996   20         996.0        2.0     996.0       2.0   996.0        2.0
      21         996.0        2.0     996.0       3.0   996.0        2.0
      22         996.0        2.0     996.0       3.0   996.0        2.0
      24           NaN        NaN       NaN       NaN   996.0        2.0
      25           NaN        NaN       NaN       NaN   996.0        2.0

                tEvtNum1  npulses1
entry subentry
5     0              5.0       8.0
      1              5.0       8.0
      2              5.0       8.0
      3              5.0       8.0
      4              5.0       8.0
...                  ...       ...
996   20           996.0       1.0
      21           996.0       2.0
      22           996.0       2.0
      24           996.0       3.0
      25           996.0       3.0

[1415 rows x 8 columns]